@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Home Page -->
<div id="home-page" class="container-fluid page-section home-page">
    <!-- Countries and sectors box -->
    <div class="row countries-sectors">
        <div class="col-xl countries-sectors__countries">
            <button type="button" class="btn prev__country prev-next__btn gradient-border d-none d-md-block">
                Saudia Arabia
            </button>
            <div class="all__contries sellect-box">
                <div class="left__arrows arrows d-none d-md-block">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </div>
                <div class="search-div">
                    <label class="label d-block d-md-none">Select Country</label>
                     <input list="dlist" class="search-country__box">
                    @*<div class="col-md-6 mb-1" id="countires">*@
                    @* <label for="validationCustom01">Country</label>*@
                    @*<select asp-for="CountryId" asp-items="@Model.CountryList" class="form-control select2"></select>
                        <span asp-validation-for="CountryId"></span>*@
                 @*   <Datalist asp-for="CountryId" asp-items="@Model.CountryList" class="form-control select2">
                        <span asp-validation-for="CountryId"></span>
                        @*  <option value="World Wide" />
                            <option value="Saudia Arabia" />
                            <option value="Egypt" />*@
                  @*   </Datalist>*@
                    @*</div>*@
                    <datalist id="dlist" runat="server">
                    </datalist>
                </div>
                <div class="right__arrows arrows d-none d-md-block">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>
            <button type="button" class="btn next__country prev-next__btn gradient-border d-none d-md-block">
                Egypt
            </button>
        </div>
        <div class="col-xl countries-sectors__sectors">
            <button type="button" class="btn prev__sectors prev-next__btn gradient-border d-none d-md-block">
                Education
            </button>
            <div class="all__sectors sellect-box">
                <div class="left__arrows arrows d-none d-md-block">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </div>
                <div class="search-div">
                    <label class="label d-block d-md-none">Select Sector</label>
                    <input list="sectors" placeholder="World Wide" class="search-country__box">

                    <datalist id="sectors">
                        <option value="World Wide" />
                        <option value="Education" />
                        <option value="Finincial" />
                    </datalist>
                </div>
                <div class="right__arrows arrows d-none d-md-block">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>
            <button type="button" class="btn next__sectors prev-next__btn gradient-border d-none d-md-block">
                Finincial
            </button>
        </div>
    </div>

    <!-- Parameters Section -->
    <div class="row parameters-text gradient-border light-background">
        <!-- parameter -->
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 parameter">
            <img src="~/web/imgs/country-numbers.png" class="parameter__icon" alt="parameter-icon" />
            <h3>Number of Countries </h3>
            <p>@Model.TotalCountry</p>
        </div>
        <!-- parameter -->
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 parameter">
            <img src="~/web/imgs/sector-numbers.png" class="parameter__icon" alt="parameter-icon" />
            <h3>Number of Sectors </h3>
            <p>@Model.TotalSector</p>
        </div>
        <!-- parameter -->
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 parameter">
            <img src="~/web/imgs/sampling.png" class="parameter__icon gradient-border" alt="parameter-icon" />
            <h3>Sampling Size: (Co.)</h3>
            <p>@Model.TotalOrganization</p>
        </div>
        <!-- parameter -->
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 parameter">
            <img src="~/web/imgs/without-values.png" class="parameter__icon" alt="parameter-icon" />
            <h3>With Values: (Co.)</h3>
            <p>@Model.TotalOrganizationWithValue</p>
        </div>
        <!-- parameter -->
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 parameter">
            <img src="~/web/imgs/with-values.png" class="parameter__icon" alt="parameter-icon" />
            <h3>Without Values: (Co.)</h3>
            <p>@Model.TotalOrganizationWithoutValue</p>
        </div>
        <!-- parameter -->
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 parameter">
            <img src="~/web/imgs/common-values.png" class="parameter__icon" alt="parameter-icon" />
            <h3>Common Values </h3>
            <p>@Model.TotalValue</p>
        </div>
    </div>
    <div class="row">
        <!-- Parameters Cahrt Section -->
        <div class="col-xl-4 mt-4">
            <div id="parameters-chart" class="parameters-chart bkg-box"></div>
        </div>
        <!-- Columns Chart Section -->
        <div class="col-xl-8 mt-4">
            <div id="columns-chart" class="columns-chart bkg-box">
            </div>
        </div>
    </div>
    <!-- Map Chart Section -->
    <div class="row mt-4">
        <div class="col-12 world-map__section">
            <div class="keymap__box">
                <div class="keymap__icon">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="keymap__content">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Values
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Sectors
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                        <label class="form-check-label" for="exampleRadios3">
                            Orginizations
                        </label>
                    </div>
                </div>
            </div>
            <div id="world-map" class="world-map bkg-box"></div>
        </div>
    </div>
</div>
